<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxxxx.demo.server1.dao.TestOneMapper">

    <select id="findAll" resultType="com.xxxxx.demo.server1.pojo.vo.TestOneVO">
        select *
        from test_one
    </select>

</mapper>